body{
	
	margin:0;
	padding:0;
	font-family: 'Poppins', san-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: rgb(12,12,12);
}

p {
	font-size: 14px;
	line-height: 1.0; 
	background: url(love.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: rgb(225, 225, 225, 0);
}
